
@{
    ViewData["Title"] = "Index";
}

<h2>Home</h2>

<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/Admin/Index">Home</a></li>
    <li role="presentation"><a href="/Admin/AuctionScheduler">Schedule Auction</a></li>
    <li role="presentation"><a href="/Admin/AssignCreditScore">Assign Credit Score</a></li>
</ul>