@{
    ViewBag.Title = "Auction";
}
<h2>Auction</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Suppliers/Profile">Profile</a></li>
    <li role="presentation" class="active"><a href="/Suppliers/Auction">Auction</a></li>
</ul>

<div class="container"> 
     <h2> Supplier Profile</h2> 
  <table class="table table-striped">
        <tr> 
            <th class="text-right"> Customer Name: </th>  
            <td> Your Name goes hereg</td>
            <th class="text-right"> Monthly kWh Avg: </th>
            <td> 2,0000</td> </tr>
        <tr>
            <th class="text-right"> FICO Score: </th>
            <td> 800 </td>  
            <th class="text-right"> Territory: </th> 
            <td>Duke Energy</td></tr>
        </table>
      <br><br>
      </div>