@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Suppliers/Profile">Profile</a></li>
    <li role="presentation"><a href="/Suppliers/Auction">Auction</a></li>
</ul>