@{
    ViewBag.Title = "Profile";
}
<h2>Profile</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Suppliers/Index">Home</a></li>
    <li role="presentation"><a href="/Suppliers/Contracts">Contracts</a></li>
    <li role="presentation" class="active"><a href="/Suppliers/Profile">Profile</a></li>
    <li role="presentation"><a href="/Suppliers/Auction">Auction</a></li>
</ul>
    <div class="container">
          <h2>Supplier Profile</h2>
  <table>
        <tr> 
            <th class="text-right" >Name: </th>
            <td>Supplier Name</td></tr>
        <tr>
            <th class="text-right"> Company:</th>
            <td>Company Name </td></tr>   
        <tr> 
            <th class="text-right">Account Number:</th>  
                <td>Acct#</td>
            </tr>
        </table>
    </div>