@{
    ViewData["Title"] = "About";
}
<h2>About Us</h2>
<h3>Your dedicated team at Best Bid Energy!</h3>

<br />
<br />

<div>
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <img src="~/images/Avatar.jpg" alt height="120"/>
        </div>
        <div class="col-md-10 col-sm-9">
            <table>
                <tr>
                    <td width="400">Daniel Maue</td>
                    <td width="150">Project Manager</td>
                </tr>
                <tr>
                    <td>Daniel.Maue@BestBidEnergy.com</td>
                    <td>614.392.5555 ext.101</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>
</div>

<br />
<br />

<div>
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <img src="~/images/Avatar.jpg" alt height="120" />
        </div>
        <div class="col-md-10 col-sm-9">
            <table>
                <tr>
                    <td width="400">Kathryn Magee</td>
                    <td width="150">Database Administrator</td>
                </tr>
                <tr>
                    <td>Kathry.Magee@BestBidEnergy.com</td>
                    <td>614.392.5555 ext. 102</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>
</div>

<br />
<br />

<div>
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <img src="~/images/Avatar.jpg" alt height="120" />
        </div>
        <div class="col-md-10 col-sm-9">
            <table>
                <tr>
                    <td width="400">Disha Shah</td>
                    <td width="150">Front-End Developer</td>
                </tr>
                <tr>
                    <td>Disha.Shah@BestBidEnergy.com</td>
                    <td>614.392.5555 ext. 103</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>
</div>

<br />
<br />

<div>
    <div class="row">
        <div class="col-md-2 col-sm-3">
            <img src="~/images/Avatar.jpg" alt height="120" />
        </div>
        <div class="col-md-10 col-sm-9">
            <table>
                <tr>
                    <td width="400">Mia Seltzer</td>
                    <td width="150">Security Analyst</td>
                </tr>
                <tr>
                    <td>Mia.Seltzer@BestBidEnergy.com</td>
                    <td>614.392.5555 ext.104</td>
                </tr>
                <td></td>
            </table>
        </div>
    </div>
</div>


