@{
    ViewData["Title"] = "Contact Us";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<address>
    <strong>Address:</strong><br />
    1121 High Street<br />
    Columbus, OH 43201<br />
</address>

<address>
    <strong>Phone:</strong>614.555.3215<br />
    <strong>Technical Support:</strong> <a href="mailto:Help@BestBidEnergy.com">Help@BestBidEnergy.com</a><br />
    <strong>Business Contact:</strong> <a href="mailto:Business@BestBidEnergy.com">Business@BestBidEnergy.com</a>
</address>

<address>
    <strong>Hours:</strong> Monday - Friday 9:00AM - 5:00PM
</address>