@{
    ViewBag.Title = "Index";
}
<h2>Home</h2>
<ul class="nav nav-tabs">
    <li role="presentation" class="active"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation"><a href="/Buyers/Contracts">Contracts</a></li>
    <li role="presentation"><a href="/Buyers/Profile">Profile</a></li>
</ul>