@{
    ViewBag.Title = "New Contract";
}
    </style>

    <div class= container>
    <h2> New Contract</h2>
    <p> Once buyer adds a new contract, they will be directed to this page where they can add information about the new contract.</p>
        <br>
        
       <table>  
        <tr> <th>Service Address</th> </tr>
        <tr> <td> Street </td>
            <td> <input type="text" name="street"> </td></tr>
        <tr> <td> City</td>
            <td> <input type="text" name="city"></td></tr>
        <tr> <td>  State </td>
            <td> <input type="text" name="state"></td>
        <tr> <td>  Zip</td>
            <td div class= left> <input type="text" name="city"></td></tr>
           
      <tr><th> Utility Info</th></tr>  
        <tr> <td> Utility Area</td>
             <td><input type="text" name="street"> </td></tr>
        <tr> <td> Utility Account # </td>
            <td><input type="text" name="city"></td>
      <tr><th>Contract Term </th></tr>
        <tr> <td>  Contract Start Date </td>
             <td><input type="text" name="street"> </td></tr>
        <tr> <td>  Contract End Date </td>
            <td><input type="text" name="city"></td></tr>
        <tr> <td> Avgerage Monthly kWh   </td>
            <td><input type="text" name="city"></td></tr>
        </table>
            
    <form>
    <br><br>
    <button div class= center type="button" class="btn"> Submit </button>   
    </form>
        </div>