@{
    ViewBag.Title = "Buyer Profile";
}
<h2>Profile</h2>
<ul class="nav nav-tabs">
    <li role="presentation"><a href="/Buyers/Index">Home</a></li>
    <li role="presentation"><a href="/Buyers/Contracts">Contracts</a></li>
    <li role="presentation" class="active"><a href="/Buyers/Profile">Profile</a></li>
</ul>

<div class="container">
    <table >
        <tr>
            <th><h2>Buyer Profile</h2> </th>
        </tr>
        <tr> 
            <th class="text-right"> Name: </th>
            <td> Your Name</td></tr>
        <tr>
            <th class="text-right"> Company:</th>
            <td> Company Name </td></tr>   
        <tr> 
            <th class="text-right"> Account Number:</th> 
            <td> Acct#</td></tr>
        <tr>
            <th class="text-right">FICO Score:</th>
            <td>850          </td> </tr>
        <tr>
            <th class="text-right">Account Type:</th> 
            <td> Commercial </td>
            </tr>
        </table>
    </div>